<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.id.teda.broadband.usage"
    android:versionCode="1"
    android:versionName="Alpha" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >

        <!-- The authenticator service -->
        <service
            android:name=".authenticator.AuthenticatationService"
            android:exported="false"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".syncadapter.SyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name=".syncadapter.DummyContentProvider"
            android:authorities="au.id.teda.broadband.usage"
            android:exported="false"
            android:label="@string/sync_adapter_label"
            android:syncable="true" />

        <activity
            android:name=".authenticator.AuthenticatorActivity"
            android:excludeFromRecents="true"
            android:label="Add Account" >

            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name            -->
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/action_bar_title_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".ui.AccountInfoActivity"
            android:label="@string/action_bar_title_account" />
        <activity 
            android:name="au.id.teda.broadband.usage.ui.UsageActivity"
            android:label="@string/action_bar_title_usage" />

    </application>

</manifest>